.topBar{
    padding-top: 10px;
    padding-bottom: 10px;
}

.drawerButtonContainer{
    text-align: right;
}

.root{
    flexGrow: 1
}

.sourceSelect{
    margin-left: 10px !important;
}

.searchInput{
    margin-left: 10px !important;
    margin-top: -15px !important;
    margin-right: 10px !important;
    margin-bottom: 0 !important;
}